<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>产品自动化测试平台</title>
</head>
<body role="document">
<!-- 导航栏202006142104修改-->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
<!--        <div class="nvabar-header">-->
            <a class="nvabar-brand" href="#">&nbsp;</a>
            <ul class="nav justify-content-center">
            <li><a style="color:white"  href="/apitest_manage/">流程接口测试用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color:white"  href="/apistep_manage/">流程接口测试步骤</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color:white"  href="/apis_manage/">单一接口测试用例</a></li>
            </ul>
            <ul class="nav justify-content-end">
<!--        202006142321 删除了class="nav-link"
<li class="nav-link"><a style="color:white" href="../admin/">{{user}}</a> </li>-->
            <li ><a style="color:white" href="../admin/">{{user}}</a> </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li ><a style="color:white" href="/logout/">退出</a> </li>
        </ul>
        </div>

<!--        <div id="navbar" class="collapse nav-collapse">-->
<!--&lt;!&ndash;            <ul class="nav navbar-nav">&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="active"><a href="#">流程接口测试</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">流程接口测试步骤</a> </li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--            <ul class="nav navbar-nav navbar-right">-->
<!--            <li><a  href="#">{{user}}</a> </li>-->
<!--            <li><a  href="/logout/">退出</a> </li>-->
<!--        </ul>-->
<!--        </div>-->
<!--    </div>-->
</nav>
<!--20200615添加搜索功能-->
<div class="page-header" style="padding-top:70px;">
    <form class="navbar-form" method="get" action="/apisearch/">
        {% csrf_token %}
        <input type="search" name="apitestname" placeholder="流程接口测试名称" required>
        <button type="submit">搜索</button>
    </form>
</div>


<!--流程接口列表-->
<div class="row" style="padding-top:70px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
            <th> ID</th><th>产品名称</th><th>流程接口测试名称</th><th>流程接口描述</th><th>测试负责人</th><th>测试结果</th><th>测试用例步骤</th>
            </tr>
            </thead>
            <tbody>
            {% for apitest in apitests %}
            <tr>
                <td>{{apitest.id}}</td>
                <td>{{apitest.Product }}</td>
                <td>{{apitest.apitestname}}</td>
                <td>{{apitest.apitestdesc}}</td>
                <td>{{apitest.apitester}}</td>
                <td>{% if apitest.apitestresult == 1 %}
                <a style="color:green">{{ apitest.apitestresult }}</a>
                {% else %}
                <a style="color:red" >{{ apitest.apitestresult }}</a>
                    {% endif %}
                </td>
<!--                <td>{{apitest.apitestresult}}</td>-->
<!--                <td>{{apitest.Apistep.apiteststep}}</td>-->
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--翻页功能-->
<div style="container">
    <ul class="pageination" id="pager">
        {# 上一页连接开始 #}
        {% if apitests.has_previous %}
        {# 如果显示上一页，则显示上一页的链接#}
        <li class="previous">
            <a herf="/apitest_manage/?page={{ apitests.previous_page_namber }}">上一页</a>
        </li>
        {# 上一页标签 #}
        {% else %}

    </ul>
</div>

</body>
</html>