<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>自动化测试平台</title>

    <!--    20200707添加-->
    <link rel="stylesheet" type="text/css" href="/static/admin/css/form.css"/>
    <script type="text/javascript" src="/damin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css"/>
    <meta name="robots" content="None,NOARCHIVE"/>

</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center"></ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style="color:white" href="#" >{{user}}</a> </li>
            <li class="nav-link"><a style="color:white" href="/logout">退出</a></li>
        </ul>
    </div>
</nav>
<!--20200615添加搜索功能-->
<div class="page-header" style="padding-top:70px;">
    <form class="navbar-form" method="get" action="/setsearch/">
        {% csrf_token %}
        <input type="search" name="setname" placeholder="名称" required>
        <button type="submit">搜索</button>


        <!--20200707添加数据功能-->
        <div style="float:right;width:73%">
        <select name="Steps" id="id_Steps">
            <option value=""selected>----api流程测试用例----</option>
        </select>
        <a class="related-widget-wrapper-link change-related" id="change_id_Steps" data-href-template="/admin/steps/steps/__fk__/change/?_to_field=id&amp;_popup=1" title="更改选中的测试用例">
            <img src="/static/admin/img/icon-changelink.svg" alt="修改"/>
        </a>
        <a class="related-widget-wrapper-link add-related" id="add_id_Steps" href="/admin/steps/steps/__fk__/change/?_to_field=id&amp;_popup=1"  title="增加另一个测试用例">
            <img src="/static/admin/img/icon-addlink.svg" alt="增加">增加
        </a>
        </div>


    </form>
</div>



<!--列表-->
<div class="row" style="padding-top:70px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th><th>设置名称</th><th>设置的值</th>
            </tr>
            </thead>
            <tbody>
            {% for set in sets %}
            <tr>
                <td>{{set.id}}</td>
                <td>{{set.setname}}</td>
                <td>{{set.setvalue}}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>9
    </div>
</div>
<!--翻页功能-->
<span style="position:absolute;right:100px;bottom:30px;">

    <div style="position:absolute;right:100px;width:100px">
        <tr><th>共</th><td>{{setcount}}</td><th>条记录</th></tr>
    </div>

    <div class="container">
        <ul class="pagination" id="pager">
            {% if sets.has_previous %}
                <li class="previous"><a herf="/set_mange/?page={{sets.previous_page_number}}">上一页</a></li>
            {% else %}
                <li class="previous disabled"><a href="#">上一页</a></li>
            {% endif %}
            {% for num in sets.paginator.page_range %}
                {% if num == currentPage %}
                <li class="item active"><a href="/set_manage/?page={{num}}">{{num}}</a> </li>
            {% else %}
                <li class="item"><a href="/set_manage/?/page={{num}}">{{num}}</a> </li>
                {% endif %}
            {% endfor %}
            {% if sets.has_next %}
                <li class="next"><a href="/set_manage/?page={{ sets.next_page_number }}">下一页</a> </li>
            {% else %}
                <li class="next disabled"><a herf="#">下一页</a></li>
            {% endif %}
        </ul>
    </div>
</span>




</body>
</html>