<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>自动化测试平台</title>

    <!--    20200707添加-->
    <link rel="stylesheet" type="text/css" href="/static/admin/css/form.css"/>
    <script type="text/javascript" src="/damin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css"/>
    <meta name="robots" content="None,NOARCHIVE"/>

</head>
<body role="document">
<!--导航栏202006142157修改-->
<nav class="navbar navbar-xepand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="nvabar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center"></ul>
            <li ><a style="color:white"  href="/appcase_manage/">APP测试用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color:white"  href="/appcasestep_manage/">APP测试用例步骤</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ul>

        <ul class="nav justify-content-end">
            <li><a style="color:white" href="#" >{{user}}</a> </li>
            <li><a style="color:white" href="/logout">退出</a></li>
        </ul>
    </div>
</nav>
<!--20200617添加搜索-->
<div class="page-header" style="padding-top:70px;">
    <form class="nav-form" method="get" action="/appsearch/">
        {% csrf_token %}
        <input type="search" name="appcasename" placeholder="名称">
        <button type="submit">搜索</button>

        <!--20200707添加数据功能-->
        <div style="float:right;width:73%">
        <select name="Appcases" id="id_Appcases">
            <option value=""selected>----api流程测试用例----</option>
        </select>
        <a class="related-widget-wrapper-link change-related" id="change_id_Appcases" data-href-template="/admin/appcases/appcases/__fk__/change/?_to_field=id&amp;_popup=1" title="更改选中的测试用例">
            <img src="/static/admin/img/icon-changelink.svg" alt="修改"/>
        </a>
        <a class="related-widget-wrapper-link add-related" id="add_id_Appcases" href="/admin/appcases/appcases/__fk__/change/?_to_field=id&amp;_popup=1"  title="增加另一个测试用例">
            <img src="/static/admin/img/icon-addlink.svg" alt="增加">增加
        </a>
        </div>


    </form>
</div>
<!--列表-->
<div class="row" style="padding-top:70px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th><th>产品</th><th>测试用例名称</th><th>测试结果</th><th>测试负责人</th><th>时间</th><th>测试用例步骤</th>
            </tr>
            </thead>
            <tbody>
            {% for appcase in appcases %}
            <tr>
                <td>{{appcase.id}}</td>
                <td>{{appcase.Product.productname}}</td>
                <td>{{appcase.appcasename}}</td>
                <td>{{appcase.apptestresult}}</td>
                <td>{{appcase.apptester}}</td>
                <td>{{appcase.create_time}}</td>
                <td><a href="#">{{appcase.appteststep}}</a></td>
                <td>{{appcase.appteststep}}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
<span style="position:absolute;right:100px;bottom:30px;">{#把翻页功能固定显示在右下角#}

    <div style="position:absolute;right:100px;width:100px">
        <tr><th>共</th><td>{{appcasecount}}</td><th>条记录</th></tr>
    </div>

<div style="container">
    <ul class="pagination" id="pager">
        {# 上一页连接开始 #}
        {% if appcasess.has_previous %}
        {# 如果显示上一页，则显示上一页的链接#}
        <li class="previous">
            <a herf="/appcase_manage/?page={{ appcasess.previous_page_namber }}">上一页</a>
        </li>
        {# 上一页标签 #}
        {% else %}
        <li class="previous disabled">
            <a href="#">上一页</a>
        </li>
        {% endif %}
        {# 上一页链接结束 #}

        {% for num in appcasess.paginator.page_range %}
            {% if num == currentPage %}
                <li class ="item active"><a href="/appcase_manage/?page={{num}}">{{num}}</a> </li> {# 显示当页数链接#}
            {% else %}
                <li class="item"><a href="/appcase_manage/?page={{num}}">{{num}}</a> </li>
            {% endif %}
        {% endfor %}

        {# 下一页链接开始 #}
        {% if appcasess.has_next %}{# 如果有下一些，则正常显示下一页链接 #}
            <li class="next"><a href="/appcase_manage/?page={{ appcases.next_page_number }}">下一页</a> </li>
        {% else %}
            <li class="next disabled"><a href="#">下一页</a> </li>
        {% endif %}
        {# 下一页链接 #}
    </ul>
</div>
</span>
</body>
</html>