<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>自动化测试平台</title>
</head>
<body role="document">
<!--导航栏202006142157修改-->
<nav class="navbar navbar-xepand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="nvabar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center"></ul>
            <li ><a style="color:white"  href="/appcase_manage/">APP测试用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color:white"  href="/appcasestep_manage/">APP测试用例步骤</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ul>

        <ul class="nav justify-content-end">
            <li><a style="color:white" href="#" >{{user}}</a> </li>
            <li><a style="color:white" href="/logout">退出</a></li>
        </ul>
    </div>
</nav>
<!--20200617添加搜索-->
<div class="page-header" style="padding-top:70px;">
    <form class="nav-form" method="get" action="/appsearch/">
        {% csrf_token %}
        <input type="search" name="appcasename" placeholder="名称">
        <button type="submit">搜索</button>
    </form>
</div>
<!--列表-->
<div class="row" style="padding-top:70px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th><th>产品</th><th>测试用例名称</th><th>测试结果</th><th>测试负责人</th><th>时间</th><th>测试用例步骤</th>
            </tr>
            </thead>
            <tbody>
            {% for appcase in appcases %}
            <tr>
                <td>{{appcase.id}}</td>
                <td>{{appcase.Product.productname}}</td>
                <td>{{appcase.appcasename}}</td>
                <td>{{appcase.apptestresult}}</td>
                <td>{{appcase.apptester}}</td>
                <td>{{appcase.create_time}}</td>
                <td><a href="#">{{appcase.appteststep}}</a></td>
                <td>{{appcase.appteststep}}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>