<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>自动化测试平台</title>

    <!--    20200707添加-->
    <link rel="stylesheet" type="text/css" href="/static/admin/css/form.css"/>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css"/>
    <meta name="robots" content="None,NOARCHIVE"/>

</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-xepand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="nvabar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center"></ul>
        <ul class="nav justify-content-end">
<!--            <li class="nav-link"><a style="color:white" href="#">{{user}}</a> </li>-->
            <li ><a style="color:white" href="#">{{user}}</a> </li>&nbsp;&nbsp;&nbsp;&nbsp;
            <li ><a style="color:white" href="/logout/">退出</a> </li>
        </ul>
    </div>
</nav>

<div class="page-header" style="padding-top:70px;">
    <form class="nav-form" method="get" action="/bugsearch/">
        {% csrf_token %}
        <input type="search" name="bugname" placeholder="bug名称">
        <button type="submit">搜索</button>

        <!--20200707添加数据功能-->
        <div style="float:right;width:73%">
        <select name="Bugs" id="id_Bugs">
            <option value=""selected>----api流程测试用例----</option>
        </select>
        <a class="related-widget-wrapper-link change-related" id="change_id_Bugs" data-href-template="/admin/bugs/bugs/__fk__/change/?_to_field=id&amp;_popup=1" title="更改选中的测试用例">
            <img src="/static/admin/img/icon-changelink.svg" alt="修改"/>
        </a>
        <a class="related-widget-wrapper-link add-related" id="add_id_Bugs" href="/admin/bugs/bugs/__fk__/change/?_to_field=id&amp;_popup=1"  title="增加另一个测试用例">
            <img src="/static/admin/img/icon-addlink.svg" alt="增加">增加
        </a>
        </div>


    </form>
</div>
<!--列表-->
<div class="row" style="padding-top:70px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th><th>产品</th><th>bug名称</th><th>bug详情</th><th>解决状态</th><th>严重程度</th><th>创建人</th><th>分配给</th><th>创建时间</th><th>编辑</th><th>删除</th>
            </tr>
            </thead>
            <tbody>
            {% for bug in bugs %}
            <tr>
                <td>{{bug.id}}</td>
                <td>{{bug.Product.productname}}</td>
                <td>{{bug.bugname}}</td>
                <td title="{{bug.bugdetail}}">{{bug.bugdetail}}</td>
                <td>{{bug.bugstatus}}</td>
                <td>{{bug.buglevel}}</td>
                <td>{{bug.bugcreater}}</td>
                <td>{{bug.bugassign}}</td>
                <td>{{bug.create_time}}</td>
                <td><a href="color:light blue" class="related-widget-wrapper-link add-related" id="add_id_Bug" href="../admin/bug/bug/?{{bug.id}}/change/?_to_field=id&_popup=1">
                    <img src="/static/admin/img/icon-changelink.svg"/>
                </a></td>
                <td><a href="color:light blue" class="related-widget-wrapper-link add-related" id="add_id_Bug" href="../admin/bug/bug/?{{bug.id}}/delete/?_to_field=id&_popup=1">
                    <img src="/static/admin/img/icon-deletelink.svg"/>
                </a></td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
<span style="position:absolute;right:100px;bottom:30px;">
    <div style="position:absolute;right:100px;width:100px">
        <tr><th>共</th><td>{{bugcount}}</td><th>条记录</th></tr>
    </div>

    <div class="container">
        <ul class="pagination" id="page">
            {% if bugs.has_previous %}
                <li class="previous"><a href="/bug_manage/?page={{bugs.previous_page_number}}">上一页</a> </li>
            {% else %}
                <li class="previous disable"><a href="#">上一页</a> </li>
            {% endif %}
            {% for num in bugs.paginator.page_range %}
                {% if num == currentPage %}
                    <li class="item active"><a href="/bug_manage/?page={{num}}">{{ num }}</a> </li>
                {% else %}
                    <li class="item"><a href="/bug_manage/?page={{num}}">{{ num }}</a> </li>
                {% endif %}
            {% endfor %}

            {% if bugs.has_next %}
                <li class="next"><a href="/bug_manage/?page={{ bugs.next_page_number }}">下一页</a> </li>
                {% else %}
                <li class="next disable"><a href="#">下一页</a> </li>
            {% endif %}
        </ul>
    </div>
</span>
</body>
</html>